<div class="main-section">
<!-- Select chamber Buttons -->
  <div class="row align-center margin-bottom-large">
    <div class="col-md-12">
      <div class="btn-group">
        <button class="btn" ng-click="selectHouse()" ng-class="houseSelectedClass">
            House
        </button>
        <button class="btn" ng-click="selectSenate()" ng-class="senateSelectedClass">
            Senate
        </button>
      </div>
    </div>
  </div>
  <!-- body -->
  <div ng-repeat="committee in committeesSelectedData">
    <div>
      <div class="row comm-header">
        <div class="margin-left-largest">
          <div class="col-sm-11 comm-header-section">
            <p>
              {{committee.committee.name}}
            </p>
          </div>
          <div class="col-sm-1 comm-header-section">
            <i class="fa fa-caret-right fa-2x comm-carat" aria-hidden="true"></i>
            <i class="fa fa-caret-down fa-2x comm-carat" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="comm-data">
        <div class="comm-description">
          {{committee.committee.ranking_member_id}}
        </div>
        <div class="comm-chair">
          {{committee.chair.first_name}} {{committee.chair.last_name}}
        </div>
        <div class="comm-ranking">
          {{committee.ranking_member.first_name}} {{committee.ranking_member.last_name}}
        </div>

      </div>
    </div>
  </div>
</div>
